//Settings
@import 'settings/font';
@import 'settings/variables';

//Tools
@import '../../../node_modules/hbg-mix/source/hbg-mix';

body.t-kulturkortet {
    //Elements
    @import 'elements/body';
    @import 'elements/form';

    //Objects
    @import 'objects/box-shadow';
    @import 'objects/container';
    @import 'objects/display';
    @import 'objects/newsletter-icon';
    @import 'objects/arrow-icon';
    @import 'objects/module-title';

    //Components
    @import 'components/main';
    @import 'components/navbar';
    @import 'components/header';
    @import 'components/pagination';
    @import 'components/card';
    @import 'components/archive-filter';
    @import 'components/button';
    @import 'components/signup';
    @import 'components/footer';

    //Scope
    @import 'scope/mod-kultur';
    @import 'scope/modularity-posts/s-card-sales';
    @import 'scope/modularity-slider/s-slider-padded';

    //Utility
    @import 'utility/color';

    @import 'trumps';

    .search-top {
        background: $color-primary;
    }

    .o-header-media {
        align-self: flex-end;
        svg, img {
            position: absolute;
            bottom: -24px;
            max-width: 200px;
        }
    }

    .o-header-media--left {
        margin-left: auto;
        svg, img {
            left: 0;
        }
    }

    .o-header-media--right {
        margin-right: auto;
        svg, img {
            right: 0;
        }
    }

    .o-header-media--newsletter svg {
        bottom: -20px;
    }
    .o-header-media--14000 svg {
        bottom: -30px;
    }

    .c-footer__sidebar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}


