//Baseline
$baseline: 8px !default;

//HBG MIX variables
$mix-mq-breakpoints: (
    xs : 0,         //0px
    sm : 32.5em,    //520px
    md : 56em,      //980px
    lg : 78em,      //1248px
    xl : 100em      //1600px
) !default;

$theme-border-size: 1px;
$theme-border-color: black;
$theme-border: solid $theme-border-size $theme-border-color;
$theme-border-radius: 8px;

$color-primary: #121212;
$color-secondary: #d51418;

$color-background: #E6E6E6;
$color-content: white;
