.u-bg-background {
    background-color: $color-background;
}

.u-bg-content {
    background-color: $color-content;
}

.u-text-primary {
    color: $color-primary;
}

.u-text-secondary {
    color: $color-secondary;
}
