%box-shadow-state-default {
    transition: $box-shadow-state-default-transition;
    box-shadow: $box-shadow-state-default;
}
%box-shadow-state-hover {
    transition: $box-shadow-state-hover-transition;
    box-shadow: $box-shadow-state-hover;
}

.o-box-shadow-action,
%box-shadow-action {
    @extend %box-shadow-state-default;

    &:hover {
        @extend %box-shadow-state-hover;
    }
}
