a.c-card.c-card--action {
    color: $color-primary;

        box-shadow: 0px 0px 0px rgba(black, 0.4);
        transition: box-shadow 300ms ease;
    &:hover {
        box-shadow: 0px 8px 20px rgba(black, 0.4);
        transition: box-shadow 200ms ease-out;
        background-color: white;
        outline: solid 1px;
    }
}

@include mq(lg) {
    .c-card .c-card__body {
        padding: $baseline * 5;
    }
}

.c-card__title {
    font-size: 19px;
}

.selected-events {
    background-color: #fff;

    .c-card {
        color: $color-primary;
        border: none;
        position: relative;
        margin-bottom: $baseline;

        &:after {
            content: '';
            position: absolute;
            width: 70%;
            left: 15%;
            bottom: - $baseline / 2;
            border-bottom: 1px solid $color-secondary;
        }

        &:last-child:after {
            border-bottom: none;
        }
    }
}
