.c-signup {
    max-width: $baseline * 100; //800px
    .c-signup__icon {
        margin-left: auto;
        margin-right: auto;
        transform: translateX($baseline * -1); //-8px
        margin-bottom: $baseline; //8px

        @include mq(md) {
            transform: translateX($baseline * -3); //-24px
            width: $baseline * 20; //160px
            height: $baseline * 15; //120px
        }
    }
    .c-signup__title {}
    .c-signup__content {}
    .c-signup__form {
        max-width: $baseline * 80; //640px
    }
}
