.s-card-highlight {
    background-color: #fff;

    .c-card {
        color: $color-primary;
        border: none;
        position: relative;
        margin-bottom: $baseline;

        &:after {
            content: '';
            position: absolute;
            width: 70%;
            left: 15%;
            bottom: - $baseline / 2;
            border-bottom: 1px solid $color-secondary;
        }

        &:last-child:after {
            border-bottom: none;
        }
    }
}